.trackerNewIssueForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
}

.trackerNewIssueTitleField {
  margin: var(--spacing-sm);
  font-size: 100%;
  padding: var(--spacing-sm);
  width: 100%;
}
